

.mainLayout {
  display: flex;
  flex-direction: row;
  background-color:#F3F4F6;
  height: 100vh;
  width: 100vw;
}

.leftSidebar {
  width: 80px;
  height: 100vh;
  background-color: #f5f5f5;
  transition: width 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
  position: fixed;
}

.mainContent {
  flex: 1;
  background-color: #f5f5f5;
  transition: margin-left 0.8s cubic-bezier(0.4, 0, 0.2, 1), width 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}

.leftSidebarExpanded {

  width: 320px;
  transition: width 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  height: 100vh;
  overflow: hidden;
  position: fixed;
}